body {
    padding-top: 65px;
}

.navbar .nav > li > a {
    color:  #ddd;
}

.no-padding { padding: 0; }
.no-margin { margin: 0; }

.margin-bottom { margin-bottom: 15px; }

.red-text { color: #ff0000; }

.grayish {
    color: #999;
}

.feed_photo_info {
    cursor: default;
    margin-left: 60px;
}

.feed_photo_info .title a {
    color: #000;
}

.feed_photo_health {
    cursor: default;
    font-size: 1.5em;
    min-height: 50px;
}

.feed_photo_health > .item {
    display: inline-block;
    margin-left: 0.5em;
    margin-top: 0.5em;
}


.photo_author_info a {
    text-decoration: none;
    color: #000;
}

.photo_author_info .name {
    font-size: 1.25em;
    margin-left: 0.25em;
    vertical-align: top;
}
