{% extends 'base.html' %}

{% load photo_extras %}

{% block content %}

    <div class="row margin-bottom">
        <div class="col-md-12">
            <img src="{{ photo.image.url }}" alt="{{ photo.title }}" class="img-thumbnail" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default photo_author_info">
                <div class="panel-body">
                    <a href="{% url 'users_profile' user_id=photo.author.id %}">
                        <img
                            src="https://placeholdit.imgix.net/~text?txtsize=60&txt=u&w=100&h=100"
                            width="50"
                            height="50"
                            alt=""
                            class="img-circle"
                        />
                    </a>

                    <a href="{% url 'users_profile' user_id=photo.author.id %}" class="name">{{ photo.author.username }}</a>

                </div>
            </div>
        </div>

        <div class="col-md-9">

            <div class="panel panel-default">
                <div class="panel-heading">{{ photo.title }}</div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-6">
                            <p class="grayish">{{ photo.created_at }}</p>
                            {{ photo.description }}
                        </div>
                        <div class="col-md-6 text-right feed_photo_health grayish">

                            <div class="item">
                                <a href="{% url 'photos_like_toggle' photo_id=photo.id %}"><span class="glyphicon glyphicon-heart {% if user|has_liked:photo %}red-text{% else %}grayish{% endif %}"></span></a>
                                {{ photo.like_set.count }}
                            </div>

                            <div class="item">
                                <span class="glyphicon glyphicon-comment"></span> 100500
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

{% endblock %}