{% extends 'base.html' %}

{% load photo_extras %}

{% block content %}

    <div class="row margin-bottom">
        <div class="col-md-12">
            <img src="{{ photo.image.url }}" alt="{{ photo.title }}" class="img-thumbnail" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default photo_author_info">
                <div class="panel-body">
                    <a href="{% url 'users_profile' user_id=photo.author.id %}">
                        <img
                            src="https://placeholdit.imgix.net/~text?txtsize=60&txt=u&w=100&h=100"
                            width="50"
                            height="50"
                            alt=""
                            class="img-circle"
                        />
                    </a>

                    <a href="{% url 'users_profile' user_id=photo.author.id %}" class="name">{{ photo.author.username }}</a>

                </div>
            </div>

            <div class="panel panel-default photo_author_info">
                <div class="panel-body">
                    <p><i class="glyphicon glyphicon-camera"></i> {{ photo.camera.name }}</p>
                    <p><i class="glyphicon glyphicon-camera"></i> {{ photo.lens.name }}</p>
                </div>
            </div>
        </div>

        <div class="col-md-9">

            <div class="panel panel-default">
                <div class="panel-heading">{{ photo.title }}</div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-6">
                            <p class="grayish">{{ photo.created_at }}</p>

                            <p>{{ photo.description }}</p>

                            {% for tag in photo.tags.all %}
                                <span class="label label-primary">{{ tag.name }}</span>
                            {% endfor %}
                        </div>
                        <div class="col-md-6 text-right feed_photo_health grayish">

                            <div class="item">
                                {% if user.is_authenticated %}
                                <a href="{% url 'photos_like_toggle' photo_id=photo.id %}" style="text-decoration: none">
                                {% endif %}
                                    <span class="glyphicon glyphicon-heart {% if user|has_liked:photo %}red-text{% else %}grayish{% endif %}"></span>
                                {% if user.is_authenticated %}
                                </a>
                                {% endif %}
                                {{ photo.like_set.count }}
                            </div>

                            <div class="item">
                                <span class="glyphicon glyphicon-comment"></span> {{ photo.comment_set.count }}
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            {% include 'photos/view_comments.html' %}

        </div>
    </div>

{% endblock %}