{% extends 'base.html' %}

{% block content %}

    <div class="row margin-bottom">
        <div class="col-md-12">
            <img src="{{ photo.image.url }}" alt="{{ photo.title }}" class="img-thumbnail" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default photo_author_info">
                <div class="panel-body">
                    <a href="{% url 'users_profile' user_id=photo.author.id %}">
                        <img
                            src="https://placeholdit.imgix.net/~text?txtsize=60&txt=u&w=100&h=100"
                            width="50"
                            height="50"
                            alt=""
                            class="img-circle"
                        />
                    </a>

                    <a href="{% url 'users_profile' user_id=photo.author.id %}" class="name">{{ photo.author.username }}</a>

                </div>
            </div>
        </div>

        <div class="col-md-9">

            <div class="panel panel-default">
                <div class="panel-heading">{{ photo.title }}</div>
                <div class="panel-body">
                    <p class="grayish">{{ photo.created_at }}</p>
                    {{ photo.description }}
                </div>
            </div>

        </div>
    </div>

{% endblock %}